:root {
    --primary-color: #007bff;
}
@font-face {
    font-family: "Cards font";
/*    src: url("./52playingcards.ttf") format("truetype"); */
    src: url("./cards2.ttf");
}
body {
    background-color: darkslategray;
}
div.char-holder {
    width: 8.1vw;
    height: 12.2vw;
    line-height: 12.3vw;
}
div.char {
    position: absolute;
    font-family: "Cards font";
    font-size: 12vw;
    opacity: 1.0;
    background-color: transparent;
    padding: 0vw 0vw 0vw 0vw;
    width: 8.1vw;
    height: 12.2vw;
    line-height: 12.3vw;
    user-select: none; /* to prevent selection of text */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
}
div.color-red {
    color: #ec1c24;
}
div.color-black {
    color: #020202;
}
div.color-darkbrown {
    color: #2f2412;
}
div.color-lightbrown {
    color: #c9b582;
}
div.color-whitish {
    color: #f7f3dc;
}
div.color-darkblue {
    color: #182350;
}
div.color-lightblue {
    color: #576e90;
}

div.color-blue { /* Joker */
    color: #292c79;
}
div.color-yellow { /* Joker */
    color: #fdcf05;
}
div.color-red-animate {
    color: #ec1c24;
    animation: color-animate 1s linear 1s infinite alternate;
}
div.color-black-animate {
    color: #020202;
    animation: color-animate 1s linear 1s infinite alternate;
}
div.color-darkbrown-animate {
    color: #2f2412;
    animation: color-animate 2s linear 3s infinite alternate;
}
div.color-lightbrown-animate {
    color: #c9b582;
    animation: color-animate 3s linear 4s infinite alternate;
}
div.color-whitish-animate {
    color: #f7f3dc;
    animation: color-animate 10s linear 2s infinite alternate;
}
div.color-darkblue-animate {
    color: #182350;
    animation: color-animate 1s linear 1s infinite alternate;
}
div.color-lightblue-animate {
    color: #576e90;
    animation: color-animate 1s linear 1s infinite alternate;
}
@keyframes color-animate {
    100% { color: transparent; }
}
div.card-draggable {
    cursor: move;
}
div.card-pile {
    margin-top: -9vw;
    position: relative;
}
div.card-pile-bottom {
    margin-top: -12.2vw;
    padding: 0 1vw 0 1vw;
}
div.card-placeholder {
    opacity: 1;
    margin: 0 1vw 0 1vw;
}
div.card {
}
div.card-show {
    display: block; visibility: block;
/*    animation-name: cardhide1;
    animation-duration: 0.01s;
    animation-fill-mode: backwards; */
}
/*  DOES NOT WORK FOR EDGE */
div.card-hide {
    animation-name: cardhide;
    animation-duration: 0.01s;
    animation-fill-mode: forwards;
}

@supports (-ms-ime-align:auto) { /* Browser EDGE */
/*    div.card-hide {
        animation-name: none;
        animation-fill-mode: backwards;
       position: absolute;
        top: -600px;
    } */
}
@keyframes cardhide {
    0% { display: block; visibility: block;  }
    100% { display: none; visibility: hidden; }
}
@keyframes cardhide1 {
    0% { display: block; visibility: block;  }
    100% { display: none; visibility: hidden; }
}
div.card:hover {
}
div.card:drag {
/*    border-top: 1px solid green;
    border-radius: 6%; */
 }
div.card-pile-bottom:hover {
    /* margin-top: -0px; */
}

/* Piles */
div.piles-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(8, [col] 1fr) ;
    grid-template-rows:  repeat(1, [row] 1fr) ;
    text-align: center;
    width: 96vw;

    top: 20vw;
    left: calc( ( 100vw - 96vw ) / 2);
}
div.pile {
    display: inline-block;
    vertical-align: top;
    padding: 0 1vw 0 1vw;
}
div.card-distributing {
    animation-name: distributing;
    animation-duration: 0.2s;
/*    animation-delay: -0.1s; */
/*    animation-fill-mode: forwards; */
}
@keyframes distributing {
    0% { margin-top: -30vw; }
/*    100% { margin-top: -10vw; } */
}

/* Stock */
div.stock-container {
    position: absolute;
    top: 3vw;
    left: 50vw;
    display: grid;
    grid-template-columns: repeat(2, [col] 1fr) ;
    grid-template-rows:  repeat(1, [row] 1fr) ;
    text-align: center;
}
div.stock-card {
    position: relative;
    margin-left: 2vw;
}

/* Hand */
div.hand-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(14, [col] 1fr) ;
    grid-template-rows:  repeat(1, [row] 1fr) ;

    text-align: center;
    width: 11vw;

    top: 80vh;
    left: calc( ( 100vw - 70vw + 7vw ) / 2);

}
div.hand-card {
    margin-left: -5vw;
    position: relative;
}
div.hand-card-dragging {
    margin-left: -5vw;
    position: relative;
}
div.hand-card-dragging:first-child {
    margin-left: 0;
}
div.hand-card-dragging-container {
    display: grid;
    grid-template-columns: repeat(14, [col] 1fr) ;
    grid-template-rows:  repeat(1, [row] 1fr) ;
}
div.hand-card-selected {
    margin-top: -5vw;
}
div.hand-drag-hide {
    animation-name: card-drag-hide;
    animation-duration: 0.01s;
    animation-fill-mode: forwards;
}
div.hand-card-hide {
    animation-name: card-hide;
    animation-duration: 0.01s;
    animation-fill-mode: forwards;
}
@keyframes card-drag-hide {
    0% { display: block; visibility: block;  }
    100% { display: none; visibility: hidden; }
}
@keyframes card-hide {
    0% { display: none; visibility: hidden; }
    100% { display: block; visibility: block;  }
}

div.card-hand-bottom {
    margin-left: -7vw;
    position: relative;
}
/* Table */
div.table-container {
    position: absolute;
    padding: 1vw;
    width: 100vw;
    height: 50vh;
    top: 25vh;
    left: 1vw;
}
div.table-space {
    display: inline-block;
    width: min-content;
    padding: 0vw 1vw 2vw 1vw;
}
div.table-space-grid {
    display: grid;
    grid-template-columns: repeat(14, [col] 1fr) ;
    grid-template-rows:  repeat(1, [row] 1fr) ;

    text-align: center;
}
div.table-space-card:first-child {
    margin-left: 0;
}
div.table-space-card {
    margin-left: -5vw;
    position: relative;
}
div.table-space-dropcard {
}

/* Game */
div.game-container {
    position: absolute;
    top: 3vw;
    left: 5vw;
    width: 40vw;
    height: 10vh;
}
div.game-header {
    font-size: x-large;
    color: white;
}
div.game-players {
    display: grid;
    grid-template-columns: repeat(10, [col] min-content) ;
    grid-template-rows:  repeat(1, [row] 1fr) ;
    grid-column-gap: 1vw;
}
div.game-player {
    color: white;
}
div.game-player-disconnected {
    color: white;
    text-decoration: line-through;
}
div.game-player-finished {
    color: yellow;
}

div.game-player-current {
    color: red;
    font-weight: bold;
}
div.game-phase {
    color: white;
    white-space: nowrap;
}
div.game-phase-you {
    color: red;
    white-space: nowrap;
}

/* Signup */
div.signup-name {
    margin: 1em 1em 1em 1em;
}
label.signup-label {
    color: white;
}
input.signup-playername {
    width: 18em;
    padding: unset;
}

div.signup-card-deck {
    display: inline-flex;
}
div.signup-game-card {
    width: 16em;
    height: 18em;
    margin: 1em 1em 1em 1em;
}
div.signup-game-card-header {
    padding: unset;
    font-size: small;
}
span.signup-game-card-close {
    float: right;
    cursor: pointer;
}
button.signup-game-card-close {
    font-size: small;
    vertical-align: top;
    padding: unset;
}
div.signup-game-card-body {
    padding: .8em;
}
input.signup-game-card-title {
    border: none;
    padding: unset;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    background-color: azure;
}
p.signup-game-card-players {
    display: grid;
    grid-template-columns: repeat(1, [col] 1fr) ;
    /* grid-template-rows:  repeat(1, [row] 1fr) ; */
}
div.signup-game-card-bottom {
    position: absolute;
    top: 15em;
    left: 1em;
    padding: unset;
}
button.signup-game-card {
    width: 14em;
}

div.signup-player {
}
div.signup-player-disconnected {
    text-decoration: line-through;
}


/* remarks */